src/AnotherClientApplication/Service References/ServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cgeers.com/services/atm/common/types/" elementFormDefault="qualified" targetNamespace="http://cgeers.com/services/atm/common/types/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Money">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" type="tns:Currency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Money" nillable="true" type="tns:Money" />
  <xs:simpleType name="Currency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Euro" />
      <xs:enumeration value="Usd" />
      <xs:enumeration value="PoundSterling" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Currency" nillable="true" type="tns:Currency" />
</xs:schema>